.bgimage {
	background-image : url("../images/image.jpg");
	background-position : center center ;
	background-size : cover ;
	height : 300px;
}
 
.navbar {
     border-radius: 0; 
	 margin-bottom : 0;
}
.jumbotron{
    background: url("../ui/jb.jpg") no-repeat center center;

	/* 
     -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100% ; */ 
}

	
/*body{
    background-color: #525252;
}*/
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
/*	background: rgba(255, 255, 255, 0.8); */
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.panel-title {
	font-size : 330%;
}
